.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}



.header {
    height: 100px ;
    width: 400px;
    background-color: #141f40;
}

.left-main {
    height: 250px;
    width: 250px;
    float: left;
}

.left-top {
    height: 150px;
    width: 125px;
    float: left;
    background-color: #dbd403;
}

.left-box {
    height: 150px;
    width: 125px;
    float: left;
  
}

.box-top {
    height: 50px;
    width: 150px;
    float: left;
    background-color: #8c2727;
}

.box-botom {
    height: 100px;
    width: 150px;
    float: left;
    background-color:#ff9e6b;
}

.left-botom {
    height: 100px;
    width: 250px;
    background-color:#0093b7;
    float: left;
}








.right {
    height: 250px;
    width: 150px;
    float: left;
    background-color: #80bfa8;

}



.footer {
    height: 100px ;
    width: 400px;
    background-color:#d98d30;
}